//
// SASS-BASE - a starter kit for any SASS project
//
// Author: Dmitry Monin

.unselectable, .unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}